<header-prelogin></header-prelogin>
<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h1><b>FirstData SR Portal</b></h1>
			<form role="form">
				<fieldset class="form-group">
					<input class="form-control" placeholder="Login Id">
				</fieldset>
				<fieldset class="form-group">
					<input class="form-control" placeholder="Password">
				</fieldset>
				<button type="button" class="btn btn-sm btn-primary" routerLink="/dashboard/home">Log in</button>
				<button type="button" class="btn btn-sm btn-primary" routerLink="/signup">Register</button>
			</form>
		</div>
	</div>
</div>